.coin-info-page {
  width: 375px;
  background: #ffffff;
  padding-left: 1.6rem;

  .coin-info-page__header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.4rem;
    margin-top: 1.7rem;

    .coin-info-page__back {
      width: 0.93rem;
      height: 1.42rem;
    }
    .coin-info-page__info-group {
      margin-left: 1.66rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .coin-info-page__coin-image {
        width: 2.4rem;
        border-radius: 100%;
      }

      .coin-info-page__coin-name-group {
        .coin-info-page__coin-name {
          font-size: 1.6rem;
          line-height: 2rem;
          color: #212529;
          margin: 0;
          margin-left: 0.8rem;
        }

        .coin-info-page__coin-symbol {
          font-size: 1rem;
          line-height: 1.3rem;
          color: #6c757d;
          text-transform: uppercase;
          margin: 0;
          margin-left: 0.4rem;
        }
      }
    }
  }

  .coin-info-page__coin-value-group {
    display: flex;
    flex-direction: row;
    margin-top: 1.6rem;

    .coin-info-page__coin-value {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3rem;
      color: #212529;
      margin: 0;
    }

    .coin-info-page__coin-diff {
      font-size: 1.6rem;
      line-height: 2rem;
      color: #21bf73;
      margin: 0;
      margin-left: 1.2rem;
    }
  }
}
