.list-coins-page {
  width: 37.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f8f9fa;

  .search-bar-container {
    padding-right: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5.8rem;
    margin-bottom: 3.4rem;
  }

  .coins-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
  }
}
