.list-coins-page {
  width: 37.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f8f9fa;

  .search-bar-container {
    padding-right: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5.8rem;
    margin-bottom: 3.4rem;
  }

  .coins-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
    }
  }
}
