@font-face {
  font-family: "Circular Std";
  src: url("./resources/fonts/CircularStd-Book.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./resources/fonts/CircularStd-Medium.ttf");
  font-weight: bold;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Circular Std";
  font-weight: normal;
}

a {
  text-decoration: none;
}